#boton-copi{
    width: 20px;
    padding: 0;
    aspect-ratio: 1;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 225, 255);
    border-bottom: 1px;
    border-color: red;
    font-size: large;
}